.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.featured-header {
  margin-top: 0;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}