.product-card {
  background-color: rgba(128, 128, 128, 0.5);
  width: 30vw;
  border: solid pink;
}

p {
  border: solid pink;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: contain
}

.website-link-button{
  border-radius: 10px;
  background-color:#e6beae;
}