.loading-container {
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 20vmin;
  pointer-events: none;
  border-radius: 50%
}

.loading-txt {
  text-align: center;
  font-weight: bold;
  color: #d1b296;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: logo-spin infinite 2s linear;
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
