.filled {
  background-color: #e6beae;
}

.empty {
  background-color: #eee4e1
}

.category {
  padding: .75rem;
  margin-left: .75em;
  margin-right: .75em;
  border: 1px solid #d1b296;
  border-radius: 15px;
  min-width: fit-content;
  cursor: pointer;
}