/* .product-detail-card {
  display: flex;
  align-items: center;
  width: 70vw;
}

.product-image {
  height: 40vh;
}

.product-detail-container {
  display: flex;
  align-items: center;
}

.details-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.image-container {
  width: 40vw;
} */